<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the main sample app for the <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>. 
  This app is a microblogging service on which you can create account and post short messages (in other words, "microposts").
</p>
